* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.instagramwrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}

.instagram {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.instagram img {
    height: 48rem;
}

.instagramlogin{
    display: flex;
    align-items: center; /* horizontal */
    justify-content: space-around; /* vertical */
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #f1efefd7;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid rgba(184, 184, 184, 0.473);
}

.group:nth-child(1) {
    min-height: 17rem;
}

.instagramlogo {
    height: 3.5rem;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.profile img {
    height: 8rem;
}

.instagramlogin1 {
    background-color: #0095f6;
    color: #ffffff;
    padding: 12px;
    border-radius: 5px;
}

.instagramlogout {
    color: #0095f6;
    margin-top: 1rem;
}

.notaccount {
    color: rgb(160, 160, 160);
}

.linkblue {
    color: #0095f6;
}

.gettheapp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.download {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.app-download {
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

.app-download:nth-child(1) {
    background-image: url('./img/apple-button.png');
}

.app-download:nth-child(2) {
    background-image: url('./img/googleplay-button.png');
}

/* media queries */


@media (max-width: 1024px) {
    .instagramwrapper {
        width: 90%;
    }
}

@media (max-width: 650px) {
    body {
        background-color: #ffffff;
    }

    .instagramwrapper {
        width: 90%;
    }

    .instagram {
        display: none;
    }

    .instagramlogin {
        width: 100%;
    }
    
    .group {
        border: 1px solid transparent;
    }
}